@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* utilities */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-align-center{
    align-items: center;
}

.f-center{
    justify-content: center;
}

.container-60{
    width: 60%;
    margin-inline: auto;
}

.container-50{
    width: 50%;
    margin-inline: auto;
}

.f-wrap{
    flex-wrap: wrap;
}

.pd-vert-120{
    padding: 120px 0;
}

/* common */

h1{
    font-size: 5rem;
    font-weight: 900;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

header a{
    text-decoration: none;
    color: black;
}

button{
    padding: 10px 15px;
    background-color: #0061FF;
    color: white;
    border: none;
}

/* header */

header{
    background-color: #B4D0E7;
}

nav{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 30px 10px;
}

nav *{
    margin: 0 10px;
}

.jumbotron{
    padding-top: 200px;
}

.jumbotron-sect{
    margin-top: 100px;
}

.jumbo-txt{
    flex-basis: 30%;
}

.jumbo-txt *{
    margin-bottom: 20px;
}

.jumbo-img{
    flex-basis: 70%;
}

.jumbo-img img{
    width: 100%;
}

.fa-arrow-down{
    padding-top: 50px;
    font-size: 3rem;
}

/* main */

/* column section */

.col-title *{
    padding: 10px 0;
}

.section-intro{
    margin: 50px 0;
}

.section-intro input{
    margin-left: 20px;
}

.divider{
    height: 1px;
    width: 30px;
    background-color: lightgrey;
    margin-left: 35px;
}

ul li{
    list-style: none;
}

.column ul li{
    margin: 15px 0;
}

.column{
    flex-basis: 30%;
    border: 1px solid lightgrey;
}

.column > div{
    margin-bottom: 40px;
    padding: 0 35px;
}

.column span,
.column a{
    font-size: 0.9rem;
}

.price{
    font-weight: 700;
}

.col-btn{
    text-align: center;
}

.column button{
    width: 100%;
    padding: 10px;
    background-color: #0061FF;
    color: white;
    border: none;
}

.col-title{
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-top: 5px;
}

.fa-check{
    color: #0061FF;
}

/* horizontal section */

.horizontal-sect{
    margin-top: 50px;
    border: 1px solid lightgrey;
}

.h-sect-box{
    padding: 25px;
}

.h-sect-box *{
    padding-bottom: 10px;
}

.h-sect-box p{
    padding-top: 20px;
}

.h-sect-box div:first-child{
    flex-basis: 70%;
}

.h-sect-btn{
    flex-basis: 25%;
}

.h-sect-btn button{
    width: 100%;
}
 
/* partner section */

.partner{
    margin-top: 100px;
}

.partner-img{
    flex-basis: 60%;
}

.partner-txt{
    flex-basis: 35%;
    padding-top: 40px;
}

.partner-txt *{
    padding: 20px 0;
}

.partner-img img{
    width: 100%;
}

#white-btn{
    padding: 10px 15px;
    border: 2px solid black;
    background-color: transparent;
    color: grey;
}

/* business section */

.business{
    margin-top: 150px;
}

.card{
    flex-basis: 30%;
    margin-bottom: 50px;
}

.card img{
    width: 100%;
}

/* company section */

.company{
    margin-top: 100px;
}

.company-center{
    background-color: #F5F5F5;
    padding: 50px;
}

.company-center img{
    width: 250px;
    padding-bottom: 25px;
}

.divider2{
    height: 1px;
    width: 100px;
    background-color: lightgrey;
    
}

.company-center p{
    padding: 25px 0;
}

.company-left,
.company-center,
.company-right{
    flex-basis: calc(100vw / 3);
}

.company-right div,
.company-left div{
 flex-basis: calc( 100% / 2);
 height: calc( 100vw / 6);
}

.company-left img,
.company-right img{
    width: 50%;
    filter: invert(1);
}

.bg-square1{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.bg-square2{
    background-color: #61082B;
}

.bg-square3{
    background-color: #0093CE;
}

.bg-square4{
    background-color: #FF1C1C;
}

.bg-square5{
    background-color: #D5001F;
}

.bg-square6{
    background-color: #B4D0E7;
}

.bg-square7{
    background-color: #0D2481;
}

.bg-square8{
    background-color: #FFD830;
}

/* blue box section */

.blue-box{
    background-color: #B4D0E7;
}

#blue-box-btn{
    padding: 10px 15px;
    background-color: white;
    color: grey;
}

.blue-box-title{
    flex-basis: 50%;
}

